.PageSize_total{
  background-color: #2b71b3;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  height: 35px;
}
.PageSize_dropdown_dropdown_button{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.PageSize_dropdown_dropdown_button img{
  width: 10px;
  height: 15px;
  margin-top: 5px;
}
.PageSize_dropdown_content{
  position: absolute;
  z-index: 2;
  background-color: #2b71b3;
  width: 50px;
  height: 70px;
  overflow: auto;
}