.index_game-cards-container {
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.index_game-card {
  width: 310px;
  margin: 12px;
  border-radius: 6px;
  background-color: #0f303b;
  /* transition: all 0.3s ease; */
}
.index_game-card p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.index_botton{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.Link{
  text-align: center;
  text-decoration: none;
}
.Link:hover p{
  color: rgb(196, 196, 196);
}
.index_game-card img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 190px;
  /* object-fit: cover; */
}
.index_game-card p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.index_loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.index_total_next_prev{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.index_next_prev{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}
@media only screen and (max-width: 1650px) {
  .index_game-cards-container {
    padding-left: 90px;
    padding-right: 90px;
  }
  .index_game-card {
    width: 340px;
  }
  .index_game-card img {
    height: 200px;
  }
}
@media only screen and (max-width: 1375px) {
  .index_game-card {
    width: 380px;
  }
  .index_game-card img {
    height: 220px;
  }
}
@media only screen and (max-width: 1100px) {
  .index_game-cards-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1025px) {
  .index_game-cards-container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .index_game-card {
    width: 330px;
  }
  .index_game-card img {
    height: 180px;
  }
}
@media only screen and (max-width: 850px) {
  .index_game-cards-container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .index_game-card {
    width: 340px;
  }
  .index_game-card img {
    height: 200px;
  }
}

