.game_info_total {
  display: flex;
  flex-direction: column;
  color: white;
}

.game_info_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.game_info_img_name {
  display: flex;
  padding: 50px 90px;
}

.game_info_img img {
  width: 450px;
  border-radius: 5px;
}

.game_info_name {
  font-weight: bold;
  font-size: 30px;
  margin-left: 200px;
}

.game_info_botton {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.game_info_about .p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.metacritic {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
}

.updated {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
}

.game_info_about {
  width: 600px;
  font-size: 14px;
  margin-right: 80px;
}

.game_info_requirements {
  width: 600px;
}
.game_info_requirements .p{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
/* .game_info_favorites_score div {
  display: flex;
  flex-direction: row;
} */

.game_info_favorites_button {
  width: 180px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  background-color: #2196f3;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.game_info_remove_button {
  width: 90px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  background-color: #f12525;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.game_info_remove_button:hover {
  background-color: #bd1818;
}
.game_info_favorites_button:hover {
  background-color: #1077cc;
}
.game_info_description{
  overflow: auto;
  height: 200px;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0;
}
.game_info_description::-webkit-scrollbar {
  width: 6px; 
}

.game_info_description::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}

.game_info_description::-webkit-scrollbar-thumb {
  background-color: #7a7a7a; 
}
.game_info_released{
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
.game_info_tags{
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
.tag_separator {
  margin-right: 5px;
}
.game_info_tags span:first-child {
  margin-left: 5px;
}
.game_info_tags span {
  font-size: 14px;
  font-weight: 300;
}
.game_info_score_button p{ 
  margin-top: 20px;
  font-size: 16px;
}
.game_info_favorites_button_log{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.game_info_favorites_button_log p{
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  background-color: #2196f3;
  border-radius: 5px;
}
.game_info_favorites_button_log:hover {
  background-color: #1077cc;
}
.game_info_edit img{
  display: flex;
  width: 35px;
  margin-top: 10px;
  cursor: pointer;
}
.game_info_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* POP UP */
.GameInfo_popup {
  color: white;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #174453;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.game_info_popup_buttons button {
  background-color: #2b71b3;
  color: white;
  border: 0;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.game_info_popup_buttons button:hover {
  background-color: #225f97;
}

.game_info_popup_buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.select-container {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.select-container select {
  background-color: #e6f0ff;
  border: none;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
.select-container select option {
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container input {
  background-color: #e6f0ff;
  border: none;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
.game_info_popup_form{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1150px) {
  .game_info_name {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1050px) {
  .game_info_name {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .game_info_img_name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
  }
}