version: '3.9'
volumes:
  mediapp_data:
services:
  db_mediapp:
    restart: always
    image: yobasystems/alpine-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: mediapp_dev
      MYSQL_USER: roi
      MYSQL_PASSWORD: 1234
    volumes:
      - mediapp_data:/var/lib/mysql
    ports:
      - "3306:3306"


      #sudo lsof -i :3306
      #sudo kill <PID>