@font-face {
    font-family: overpass;
    src: url(../../fonts/overpass/Overpass-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0B252E;
    box-shadow: 0px 0px 5px 0px rgb(124, 124, 124);
    width: 100%;
    height: 82px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: overpass;
    position: sticky;
    top: 0;
}

.header2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INICIO ESTILOS DE LA PARTE DE LOS LINK */
.header_Link {
    text-decoration: none;
    color: rgb(207, 207, 207);
}

/* FIN ESTILOS DE LA PARTE DE LOS LINK */

/* INICIO ESTILOS DE LA PARTE DEL LOGO */
.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_logo .header_Link {
    position: absolute;
    margin-left: 200px;
}

.header_logo .header_Link img {
    width: 200px;

}

/* INICIO ESTILOS DE LA PARTE DEL LOGO */

/* INICIO ESTILOS DE LA PARTE DE NAVEGACION */
.header_nav {
    width: 200px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header_nav>li>.header_Link {
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
}

.header_nav>li>.header_Link:hover {
    color: #ffffff;
}


/* FIN ESTILOS DE LA PARTE DE NAVEGACION */

.header_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INICIO ESTILOS DEL BOTON DE PERFIL LOG */

.header_perfil .header_Link img {
    width: 60px;

}
.header_login1 {

}

/* FIN ESTILOS DEL BOTON DE PERFIL LOG */

/* INICIO ESTILOS DEL BOTON DE LOGIN */

.header_login2 {
    position: absolute;
    margin-right: 55px;
    background-color: #2b71b3;
    border-radius: 7px;
    padding: 8px;
    color: #fff;
}

.header_login2:hover {
    background-color: #3e8eda;
    padding: 10px;
    transition: padding 0.3s;
}

/* FIN ESTILOS DEL BOTON DE LOGIN */


@media only screen and (min-width: 650px) and (max-width: 800px) {}