.prev_button{
  padding: 4px 7px;
  border: 0;
  border-radius: 5px;
  background-color: #2b71b3;
  color: white;
  cursor: pointer;
}
.next_button{
  padding: 4px 7px;
  border: 0;
  border-radius: 5px;
  background-color: #2b71b3;
  color: white;
  cursor: pointer;
}